html
  head
    meta(charset='utf-8')
    style(type='text/css').
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

  body
    include navbar

    .container
      .row
        h1 Books
        hr
        each book in books
          .col-xs-12.col-md-3
            .thumbnail
              a(href="books/" + book.slug)
                img(src=book.imageURL)
              h4= book.title

    .container
      .row
        h1 Movies
        hr
        each movie in movies
          .col-xs-12.col-md-3
            .thumbnail
              a(href="movies/" + movie.slug)
                img(src=movie.imageURL)
              h4= movie.title

    //- .container
    //-   .row
    //-     each book in [1, 2, 3]
    //-       .col-xs-3
    //-         .text-xs-center
    //-           img(class="img-fluid" src=media.imageURL)
    //-         h5.text-xs-center.h2 = media.title
    //-
    //-
    //- .container
    //-   .row
    //-     each media in medias
    //-       .col-xs-12.col-md-3
    //-         .thumbnail
    //-           a(href="medias/" + media.movie.slug)
    //-             img(src=media.movie.imageURL)
    //-           h4= media.movie.title
